
.container-login, .container-register{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 20px;
}


.container-login h1, .container-register h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}

.link-register{
    text-align: right;
    margin-top: 20px;
}

.container-register{
    width: 750px;
    transform: translate(-50%, -70%)
}

/* Message  */

#register-message{
    transition: 0.2s;
    opacity: 0;
    max-height: 0;

}